/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip*/
div.tooltip {
 	position: absolute;
	text-align: left;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px calibri;
	color: navy;
/*	background: white;*/
	border: 1px;
	border-radius: 8px;
	pointer-events: auto;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}
