/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip*/
div.tooltip {
 	position: absolute;
	text-align: left;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px calibri;
	color: navy;
/*	background: white;*/
	border: 1px;
	border-radius: 8px;
	pointer-events: auto;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}

h1
{
	font: 18px calibri;
	font-weight: bold;
	text-align: left;
}

h2
{
	font: 14px calibri;
}

.bar:hover {
  fill: grey;
}

p {
  font: 14px calibri;
}

.link {
  color: tomato;
  text-decoration: underline;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
