/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip*/
div.tooltip {
 	position: absolute;
	text-align: left;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px calibri;
	color: navy;
/*	background: white;*/
	border: 1px;
	border-radius: 8px;
	pointer-events: auto;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}

h1
{
	font: 18px calibri;
	font-weight: bold;
	text-align: center;
}

h2
{
	font: 14px calibri;
	text-align: center;
}

.bar:hover {
  fill: grey;
}

p1 {
  font: 14px calibri;

}

p2 {
  font: 12px calibri;

}

p3 {
  font: 14px calibri;

}

.link {
  color: tomato;
  text-decoration: underline;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

#container-map {
	float: left;

}

#container-bar {
	float: right;
}

#container-text {
	display: inline-block;
}

#button {
	text-align: center;
}

.story {
	text-align: center;
}

.title{
	text-align: center;
	font-size: 20px;
	font-family: calibri;
	border: 2px solid lightblue;
	background-color: pink;
}
