/* Ellemijke Donner, 10734198, styles.css for scatterplot.js and scatterplot.html*/

h1 {
  font: 24px calibri;
  font-weight: bold;
}

.bar:hover {
  fill: grey;
}

p {
  font: 14px calibri;
}

.link {
  color: tomato;
  text-decoration: underline;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
